/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Poppins', sans-serif;
}

/* Keeps the footer at the bottom of the page */
#container{
  min-height: 75vh;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid black;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #8FBC8F;
  border-top: 1px solid black;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 900px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  padding-top: 8%;
  padding-bottom: 10%;
  text-align: center;
  border-bottom: 1px solid green;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Custom title */
#title {
  font-size: 45px;
  font-family: 'Kaushan Script', cursive;
  color: green;
  text-decoration: none;
}

/* Connexion and Inscription color */
#login,
#signup,
#account,
#disconnect {
  color: #3CB371;
}

/* Legends and event names color */
legend,
#eventname {
  color: #8FBC8F;
}

/* Event names style */
#eventname {
  font-size: 20px;
  font-weight: bold;
}

/* Search events style */
.sevent {
  width: 260px;
  height: 150px;
  background-color: #eeeeee;
  padding: 10px;
  margin: 5px auto;
}

/* Flex containers */
.flex-container {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
}

/* Event detail padding en*/
#eventdetail {
  padding: 10px;
}

/* Event title style and position to match other pages */
#detailtitle {
  font-weight: bold;
  text-align: right;
}

/* Event description color to match other pages */
#detaildesc{
  color: #737373;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}